@charset "utf-8";

// @import url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.2.0/dist/font-face.css');

// @font-face {
//   font-family: "IranYekan";
//   font-weight: bold;
//   src: url("/fonts/iranyekanwebbold.woff") format("woff");
// }
// @font-face {
//   font-family: "IranYekan";
//   font-weight: lighter;
//   src: url("/fonts/iranyekanweblight.woff") format("woff");
// }
// @font-face {
//   font-family: "IranYekan";
//   font-weight: normal;
//   src: url("/fonts/iranyekanwebregular.woff") format("woff");
// }

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 900;
	src: url('/fonts/eot/IRANSansWeb_Black.eot');
	src: url('/fonts/eot/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/woff2/IRANSansWeb_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/fonts/woff/IRANSansWeb_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/ttf/IRANSansWeb_Black.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('/fonts/eot/IRANSansWeb_Bold.eot');
	src: url('/fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/fonts/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/eot/IRANSansWeb_Medium.eot');
	src: url('/fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/fonts/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/eot/IRANSansWeb_Light.eot');
	src: url('/fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/fonts/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('/fonts/eot/IRANSansWeb_UltraLight.eot');
	src: url('/fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/eot/IRANSansWeb.eot');
	src: url('/fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/fonts/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/ttf/IRANSansWeb.ttf') format('truetype');
}


$family-sans-serif: 'IRANSans', sans-serif;

// Palette #1

$grey-dark: #363636;
$grey-light: #ceddef;
$primary: #1f3c88;
$link: #5893d4;
$body-background-color: #fff;

// Palette #2

// $grey-dark: #222831;
// $grey-light: #dbe2ef;
// $primary: #112d4e;
// $link: #3f72af;
// $body-background-color: #f9f7f7;

// Palette #3

// $grey-dark: #031634;
// $grey-light: #033649;
// $primary: #036564;
// $link: #CDB380;
// $body-background-color: #E8DDCB;


$widescreen-enabled: false;
$fullhd-enabled: false;

$control-border-width: 2px;
$input-shadow: none;

@import "~bulma/bulma";